@font-face {
	font-family: "Trajan Pro Regular";
	src: url("/fonts/TrajanPro-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trajan Pro Bold";
	src: url("/fonts/TrajanPro-Bold.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
}

a {
	color: red;
}
