@font-face {
	font-family: "Trajan Pro Regular";
	src: url("/fonts/TrajanPro-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Trajan Pro Bold";
	src: url("/fonts/TrajanPro-Bold.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
}

a {
	color: red;
}

.drop-cap::first-letter {
	float: left;
	font-size: 4.5rem;
	line-height: 0.85;
	padding-right: 0.2em;
	font-family: "Trajan Pro Bold", serif;
	font-weight: bold;
	margin-top: 0.1em;
}
